.Node {
  position: absolute;
  width: 128px;
  cursor: move;
  user-select: none;
}

.Node-connector {
  cursor: pointer;
}

.Node-connector-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid lightskyblue;
}

.Node-connector-dot-filled {
  background-color: lightskyblue;
}

.Node-input {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 94px;
  height: 18px;
  text-align: right;
  color: white;
  line-height: 0;
  font-size: 12px;
  margin-top: 2px;
  outline: none;
}

.Node-color {
  height: 22px;
  width: 32px;
}

.Node-color-picker {
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 99999;
}
