.Project-content {
  height: calc(100vh - 64px);
}

.Project-sidebar {
  z-index: 998;
}

.Project-editor {
  z-index: 997;
}

.Project-sidebar-collapse {
  position: absolute;
  z-index: 999;
  border-top-right-radius: calc(36px / 2) !important;
  border-bottom-right-radius: calc(36px / 2) !important;
  cursor: pointer;
}

.Project-editor-collapse {
  position: absolute;
  z-index: 999;
  border-top-right-radius: calc(36px / 2) !important;
  border-bottom-right-radius: calc(36px / 2) !important;
  cursor: pointer;
}
