html {
  min-height: 100vh;
  overflow: hidden;
  background-color: white;
}

body {
  position: relative;
  height: 100vh;
  overflow: auto;
}

#root {
  height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

.w100 {
  width: 100%;
}

.w100vw {
  width: 100vw;
}

.h100vh {
  height: 100vh;
}

.text-align-center {
  text-align: center;
}

.position-relative {
  position: relative;
}
